@font-face {
  font-family: 'GeneralSans';
  src: url('../assets/fonts/GeneralSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../assets/fonts/GeneralSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../assets/fonts/GeneralSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
/* Mantém as definições existentes de :root, @font-face, etc. */
:root {
    /* COLORS */
    --neutral-50: #FAFAFA;
    --emphasis-high: #000000; 
    
    /* SPACING */
    --header-height: 5.5rem;
    --layout-padding: 5.5rem;

    /* BUTTON */
    --button-padding-vertical-padding: 1rem;
    --button-padding-inline-start: 2rem;
    --button-padding-inline-end: 1.5rem;
    --button-gap: .5rem;
    --button-height: 1.625rem;
    
    --card-padding: 2rem;

    /* FONT-SIZE */
    --text-xs:      0.75rem;
    --text-sm:      0.875rem;
    --text-base:    1rem;
    --text-lg:      1.125rem;
    --text-xl:      1.25rem;
    --text-2xl:     1.5rem;
    --text-3xl:     1.875rem;
    --text-4xl:     2rem;
    --text-5xl:     3rem;
    --text-6xl:     3.75rem;
    --text-7xl:     4.5rem;
    --text-8xl:     6rem;

    /* FONT-WEIGHT */
    --text-light: 200;
    --text-medium: 400;
    --text-bold: 700;

    /* FONT-WEIGHT */
    --button-font-weight: 200;

    /* LINE HEIGHT */
    --h1-line-height: 115%;

    /* BORDER RADIUS */
    --button-border-radius: 624.938rem;

    /* BORDER COLORS */
    --button-border-color: var(--emphasis-high);

    /* BACKGROUND COLORS */
    --header-background-color: var(--neutral-50);
    --button-background-color: var(--neutral-50);
    --card-background-color: var(--neutral-50);
    --button-background-color-hover: var(--button-border-color);

    /* TOKENS */
    /* BORDER */
    --section-border-bottom: 2px solid var(--emphasis-high);
    --button-border: 2px solid var(--button-border-color);

    --font-color-hover: var(--neutral-50);
    --card-border: 2px solid var(--emphasis-high);
    --card-border-radius: 1rem;

    --card-content-padding: .5rem;
    --work-pickup-time-padding: .5rem;
    --work-pickup-time-border: 1px solid var(--emphasis-high);
}

.hidden {
    display: none;
}

html, body {
    -webkit-font-smoothing: antialiased; /* Safari/Chrome */
    -moz-osx-font-smoothing: grayscale;  /* Firefox */
}

body {
    font-family: 'GeneralSans', sans-serif;
}

.layout {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: var(--header-height) auto;
    place-items: center;
    height: 100vh;
    border-bottom: var(--section-border-bottom);
}

.button-icon {
    max-width: 2rem;
    max-height: 2rem;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: contents; /* Mantém o comportamento original para os filhos */
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height); /* Usa a altura definida para o header */
    background-color: var(--header-background-color); /* Aplica a cor de fundo */
    z-index: -1; /* Coloca o fundo atrás dos filhos */
}

#logo-icon {
    grid-column: 3 / 7;
    justify-self: start;
}

#menu-icon {
    grid-column: 12 / 12;
    justify-self: end;
}

section {
    grid-row: 2 / 2;
    display: contents;
}

#s-hero {
    display: contents;
    box-sizing: border-box;
    height: calc(100vh - var(--header-height));
}

#merchan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 3 / 7;
    gap: 1.5rem;
}

#merchan button span {
    font-size: var(--text-2xl);
    font-weight: var(--text-medium);
}

#merchan button img {
    width: 2rem;
    height: 2rem;
}


h1 {
    font-family: 'GeneralSans', sans-serif;
    font-size: var(--text-6xl);
    font-weight: var(--text-bold);
    line-height: var(--h1-line-height);
    letter-spacing: 0.045em;
    text-align: start;
    max-width: 20ch;
}

button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: var(--button-padding-vertical-padding);
    padding-inline-start: var(--button-padding-inline-start);
    padding-inline-end: var(--button-padding-inline-end);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    gap: var(--button-gap);
    height: var(--button-height);
    font-weight: var(--button-font-weight);
    transition: background-color .2s ease-in-out;
}

button:hover {
    color: var(--font-color-hover);
    background-color: var(--button-background-color-hover);
}

#cake_section_1 {
    object-fit: contain;
    grid-column: 10 / 12;
    max-height: calc(100vh - var(--header-height));
}

.small-layout {
    border-bottom: var(--section-border-bottom);
}

#cake_banner_full_1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.default-layout {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
    height: 100vh;
    border-bottom: var(--section-border-bottom);
}

#market-info {
    grid-column: 10 / 12;
    grid-row: 2 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: var(--card-content-padding);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    background-color: var(--card-background-color);
    width: 23rem;
    padding: var(--card-padding);

}

.work-pickup-time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--work-pickup-time-padding);
    border-bottom: var(--work-pickup-time-border);
}

.card h4 {
    width: 100%;
    font-size: var(--text-xl);
    font-weight: var(--text-bold);
}